<html>

<head>
	<title>Dragon Request Form</title>
	<link href="./scripts/reqform.css" rel="stylesheet" type="text/css">
</head>

<body>
	<center>
	<div id="content">
{{#if user}}You're logged in as {{user}}. <a href="/logout">Click Here to Log Out</a>
{{else}} 
<a href='/login'>Login</a> or <a href="/register">Register</a>
{{/if}}

{{{ body }}}	</div>
	</center>
</body></html>