{{#if user}}
		<h1>Search for a Dragon!</h1>
		<form method="POST" action="buy/search">
			
			<input type="hidden" name="primary" id="p">
			<input type="hidden" name="secondary" id="s">
			<input type="hidden" name="tertiary" id="t">
			
			<h2>Sex</h2>
			<p>
				<input type="radio" name="sex" value="m">Male
				<input type="radio" name="sex" value="f">Female
				<input type="radio" name="sex" value="" checked>No Preference

			</p>
			<h2>Breed</h2>	
				<select name="breed">
					<option value="">All</option>
					<option value="fae">Fae</option>
					<option value="guardian">Guardian</option>
					<option value="mirror">Mirror</option>
					<option value="pearlcatcher">Pearlcatcher</option>
					<option value="ridgeback">Ridgeback</option>
					<option value="tundra">Tundra</option>
					<option value="spiral">Spiral</option>
					<option value="imperial">Imperial</option>
					<option value="snapper">Snapper</option>
					<option value="wildclaw">Wildclaw</option>
					<option value="coatl">Coatl</option>
					<option value="skydancer">Skydancer</option>
				</select>
				
			<h2>Element</h2>
				<select name="element">
					<option value="">All</option>
					<option value="earth">Earth</option>
					<option value="plague">Plague</option>
					<option value="wind">Wind</option>
					<option value="water">Water</option>
					<option value="lightning">Lightning</option>
					<option value="ice">Ice</option>
					<option value="shadow">Shadow</option>
					<option value="light">Light</option>
					<option value="arcane">Arcane</option>
					<option value="nature">Nature</option>
					<option value="fire">Fire</option>
				</select>

		
			<div id="primary"><h2>Primary Color</h2></div>
			<h2>Primary Gene</h2>
				<select name="pgene">
					<option value="">All</option>
					<option value="basic">Basic</option>
					<option value="iridescent">Iridescent</option>
					<option value="tiger">Tiger</option>
					<option value="clown">Clown</option>
					<option value="speckle">Speckle</option>
					<option value="ripple">Ripple</option>
					<option value="bar">Bar</option>
					<option value="crystal">Crystal</option>
				</select>

			<div id="secondary"><h2>Secondary Color</h2></div>
			<h2>Secondary Gene</h2>
				<select name="sgene">
					<option value="">All</option>
					<option value="basic">Basic</option>
					<option value="shimmer">Shimmer</option>
					<option value="stripes">Stripes</option>
					<option value="eyespots">Eye Spots</option>
					<option value="freckle">Freckle</option>
					<option value="seraph">Seraph</option>
					<option value="current">Current</option>
					<option value="daub">Daub</option>
				</select>
			
			<div id="tertiary"><h2>Tertiary Color</h2></div>
			<h2>Tertiary Gene</h2>
				<select name="tgene">
					<option value="">All</option>
					<option value="basic">Basic</option>
					<option value="circuit">Circuit</option>
					<option value="gembond">Gembond</option>
					<option value="underbelly">Underbelly</option>
					<option value="crackle">Crackle</option>
					<option value="smoke">Smoke</option>
					<option value="spines">Spines</option>
				</select>
			<p><input type="submit" value="Search Database"></p>
		</form>

		<script src="scripts/reqform.js"></script>
		{{/if}}
